<launch>
    <!-- Arguments -->
    <arg name="project" default="lio_sam"/>
    <arg name="open_rviz" default="true"/>

    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/virtual_params.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <group if="$(arg open_rviz)"> 
        <include file="$(find lio_sam)/launch/include/module_rviz.launch" />
    </group>
    
</launch>
